exersises1/.o
exersises1/.dep
exersises1/1.2
exersises1/1.3
exersises1/1.4
exersises1/1.5
exersises1/1.6
exersises1/1.7
exersises1/1.8
exersises1/1.9
exersises1/1.10
exersises1/1.11
exersises1/1.12
exersises1/1.13
exersises1/1.14
exersises1/1.15
exersises1/1.16
exersises1/1.17
exersises1/1.18
exersises1/1.19
exersises1/1.19_ut
exersises1/1.20
exersises1/1.21
exersises1/1.22
exersises1/1.23
exersises1/1.24
exersises1/my_lib.a
